<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="com.yagay.YFloat.YFloatApp"
        android:theme="@style/Theme.YFloat"
        android:label="YFloat"
        android:description="@string/app_description"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false">
        <activity android:name="com.yagay.YFloat.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
