<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="com.yagay.ysuite.standalone.StandaloneApplication"
        android:allowBackup="${standaloneAllowBackup}"
        android:description="${standaloneDescription}"
        android:icon="${standaloneIcon}"
        android:label="${standaloneLabel}"
        android:localeConfig="${standaloneLocaleConfig}"
        android:roundIcon="${standaloneRoundIcon}"
        android:supportsRtl="true"
        android:theme="${standaloneTheme}"
        android:usesCleartextTraffic="${standaloneUsesCleartextTraffic}">
        <meta-data
            android:name="com.yagay.ysuite.standalone.FEATURE_ID"
            android:value="${standaloneFeatureId}" />
        <meta-data
            android:name="com.yagay.ysuite.standalone.ENTRY_ACTIVITY"
            android:value="${standaloneEntryActivity}" />

        <activity
            android:name="com.yagay.ysuite.standalone.StandaloneLauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
