<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application>
        <provider
            android:name="com.yagay.YMiniGuard.EngineStatusProvider"
            android:authorities="${applicationId}.engine_status"
            android:directBootAware="true"
            android:exported="true"
            android:grantUriPermissions="false" />

        <activity
            android:name="com.yagay.YMiniGuard.TargetAppsActivity"
            android:exported="false"
            android:theme="@style/Theme.YMiniGuard" />

        <activity
            android:name="com.yagay.YMiniGuard.MainActivity"
            android:theme="@style/Theme.YMiniGuard" />
    </application>
</manifest>
